{
	"presets": [
		["es2015", { "modules": false }],
		"stage-3",
		"react"
	],
	"plugins": [
		"babel-plugin-transform-class-properties",
		"react-hot-loader/babel",
		"transform-flow-strip-types"
	],
	"env": {
		"test": {
			"plugins": ["transform-es2015-modules-commonjs"]
		},
		"production": {
			"plugins": ["transform-react-remove-prop-types"]
		}
	}
}
